<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <h3>Terms of Service</h3>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>
  <h3>Contact</h3>
  <p class="text-muted">&copy; MusiCoin Pool|
           <strong>Contact:</strong> Email:
           <a href="mailto:musicoinpoolxyz@gmail.com" rel="nofollow" target="_blank">
             musicoinpoolxyz@gmail.com
           </a>
 	   Telegram:
 		<a href="https://t.me/joinchat/Detdjg-qmHLxkLj3B7oPkw" rel="nofollow" target="_blank">
             Join Telegram Group
           </a>
         </p>
  <h3>Details</h3>

</div>
